$theme-color: rgba(0, 153, 255, 0.902);

// 加大移动设备上的导航栏高度
$navbar-mobile-height: 3.25rem;

$navbar-mobile-vertical-padding: 0.5rem ;
$navbar-mobile-horizontal-padding: 1rem ;


$content-width: 740px;

$transform-transition: "0.0s ease" ;
$color-transition: "0.0s ease" ;